.mytopbarfornavigat {
    margin-top: 40px;
    width: 87vw;
    display: flex;
    flex-direction: row;
    height: 150px;
    margin-right: 5px;
    margin-bottom: 20px;
}


.mytopbarfornavigat-right {
    width: 60%;
    background-color: #FFFFFF;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius:5px;
}

.aaaa {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    background-color: #EEEEEE;
    height: 53px;
    width: 59px;
    padding: 10px;
    border-radius: 7px;
    margin: 0 5px 0 5px;
    border-style:solid;
    border-width:1px ;
    border-color:transparent;
    position:relative ;
}

.mytopbarfornavigat-right-top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.FiterIcons {
    width: 23px;
    height: 23px;
}

.myboxlable {
    font-size: 11px;
}

.mytopbarfornavigat-right-bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.mytopbarfornavigat-right-bottom-btn {
    width: 45%;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 4px;
    padding: 4px;
    
}




.mytopbarfornavigat-left {
    background-color:#FFFFFF;
    width: 110%;
    border-radius: 5px;
    padding: 12px;
}

.Mydisplayerflex {
    margin-bottom: 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.newinputstyle{
    font-family: iransans ;
    
}
.secondflexrow {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}


.mynewbtncss {
    background-color: #C60219;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 27px 24px 27px;
    cursor: pointer;
    font-size: 12px;
    height: 26px;
    width: auto;
}
.thirdflexrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.myselectorbtnnew {
    font-size: 15px;
    margin-right: 20px;
    color: #d40000;
    background-color: transparent;
    background-image: none;
    border-color: #d40000;
    height: 27px;
    border-radius: 5px;
    padding-right: 10px;
    font-family: 'Conv_BTrafficBold'
}
.mysearchinbtn {
    margin-left: 47px;
}
.checkbox-input-hiddener {
    width: 0px;
    position:absolute ;
    bottom : 0.1px ;
}


.mycontainerflex {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mynewstyleeverynewscontainer {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.mynewstylenewscontainer {
    display: flex;
    width: 23%;
    justify-content: center;
    
}

.cardsstyles {
    border-radius: 5px;
    padding: 5px 15px 0px 15px;
    width: 100%;
    position: relative;
}
.cardheader{
    display:flex ; 
    flex-direction: row ; 

}

.mynewimgdiv {
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 9%;
    top: 50px;
}

.mynewimgfile {
    width: 80%;
    height: 100%;
    border-radius: 5px;
}
.carddatebottom {
    position: absolute;
    right: 15px;
    bottom: -10px;
    width: 50%;
    justify-content: space-around;
    
}

#mydivid1 {
    background: #ff751361;
}

#mydivid2 {
    background-color: #2ba1ea66;
}

#mydivid3 {
    background-color: #0349e65c ;
}

#mydivid4 {
    background-color: #63049a54 ;
}

#mydivid5 {
    background-color: #f91f1fba;
}

#mydivid6 {
    background-color: #8c2d0491
}

.mypagingstyle {
    width: 95.1%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.textofnews {
    position: absolute;
    top: 171px;
    
}